<div *ngIf="pager && pager.pages && pager.pages.length" class="pagination">
    <button mat-raised-button disabled *ngIf="selected === 1" (click)="setPage(1)">First</button>
    <button mat-raised-button *ngIf="selected !== 1" (click)="setPage(1)">First</button>
    <button mat-raised-button disabled *ngIf="selected === 1" [ngClass]="{disabled: selected === 1}" (click)="setPage(selected - 1)">Previous</button>
    <button mat-raised-button *ngIf="selected !== 1" (click)="setPage(selected - 1)">Previous</button>
    <span *ngFor="let page of pager.pages">
        <button mat-raised-button 
            *ngIf="selected !== page"
            (click)="setPage(page)">{{page}}</button>
        <button mat-raised-button 
            *ngIf="selected === page"
            color="accent"
            (click)="setPage(page)">{{page}}</button>
    </span>
    <button mat-raised-button disabled *ngIf="selected === pager.totalPages" (click)="setPage(selected + 1)">Next</button>
    <button mat-raised-button *ngIf="selected !== pager.totalPages" (click)="setPage(selected + 1)">Next</button>
    <button mat-raised-button disabled *ngIf="selected === pager.totalPages" (click)="setPage(pager.totalPages)">Last</button>
    <button mat-raised-button *ngIf="selected !== pager.totalPages" (click)="setPage(pager.totalPages)">Last</button>
</div>
