<div class="row">
    <form>
        <input type="checkbox" class="form-check-input" ng-model="vm.filterVideo" ng-change="vm.filterMedia()"> Videos
        <input type="checkbox" class="form-check-input" ng-model="vm.filterPhoto" ng-change="vm.filterMedia()"> Photos
        <input type="checkbox" class="form-check-input" ng-model="vm.filterGif" ng-change="vm.filterMedia()"> Gif
        <input class="form-control" type="text" placeholder="tag" ng-model="vm.filterTag" ng-change="vm.filterMedia()"/>
        <div class="form-group">
            <input type="range" min="1" max="20" ng-model="vm.nbItemPerPage" ng-change="vm.updateItemPerPage()"> 
            {{vm.nbItemPerPage}} items/page
        </div>
    </form>
</div>
<div class="row pagination">
    <button class="btn" ng-repeat="n in vm.range(vm.nbPage) track by $index" ng-class="{'btn-primary': $index===vm.page}" ng-click="vm.setPage($index)">{{$index + 1}}</button>
</div>
<div class="row">
    <div class="medias" ng-if="vm.media.length !== 0">
        <div class="media" ng-repeat="media in vm.media">
            <!--<h3>{{media.libelle}}</h3>-->
            <img  ng-click="vm.showDetails(media)" ng-if="media.type === 'PHOTO' || media.type === 'GIF'" ng-src="{{media.path}}" class="img-fluid img-thumbnail img-max">
            <video  ng-click="vm.showDetails(media)" ng-if="media.type === 'VIDEO'" class="img-fluid img-thumbnail img-max" controls>
                <source ng-src="{{media.path}}">
            </video>
            <span class="label label-primary tag" ng-repeat="tag in media.tags" ng-click="vm.addFilterTag(tag)">{{tag}}</span>            
        </div>
    </div>
</div>
